doctype html
html(lang='en', dir='ltr')
  head
    meta(charset='UTF-8')
    title  GTW Registration
    link(rel='stylesheet', href='../static/register.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    .container
      .title GTW Registration
      .content
        form(action='/register', method='post')
          .user-details
            .input-box
              span.details Full Name
              input(name='fullName', type='text', placeholder='Enter your name', required='')
            .input-box
              span.details Email
              input(name='email', type='text', placeholder='Enter your email', required='')
            .input-box
              span.details Password
              input(name='password' type='password', placeholder='Enter your password', required='')
            //- .input-box
            //-   span.details Confirm Password
            //-   input(name='password' type='text', placeholder='Confirm your password', required='')
          .gender-details
            input#dot-1(type='radio', name='gender')
            input#dot-2(type='radio', name='gender')
            input#dot-3(type='radio', name='gender')
            span.gender-title Gender
            .category
              label(for='dot-1')
                span.dot.one
                span.gender Male
              label(for='dot-2')
                span.dot.two
                span.gender Female
              label(for='dot-3')
                span.dot.three
                span.gender Prefer not to say
          .button
            input(type='submit', value='Register')
          span
                | Already have an account? &nbsp
                a(href='/') Sign In